.App {
  height: 100vh;
  background-color: #123d37;

  text-align: center;

  justify-content: center; /* Center the content horizontally */
  align-items: center;
}
.body_container{
  padding-top: 10em;
}
.name{margin: 1em;}
.state_box {
  display: flex;
  justify-content: space-between;}

.text_area {
  display: flex;
  align-items: center;
}

.state_text_title {
  margin-right: 10px; 
}
.App  h1{

  color: aliceblue;
}
.state_text_title{
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.grouped-items{display: flex;
}
.name{
  color: #fff;
}
.img{width: 150px;}
.image-container{
  color: aliceblue;
}
.box{border: 6px solid rgb(71, 71, 71);
  background-color: whitesmoke;}
.status-container {
  border: 6px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 10%;
  max-width: 900px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
}
.text_area{
  display: flex;
  margin-left: 10px;
}

.state_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #472e00;
  width: 300px; 
  border-radius: 10%;
  margin: 10px; /* Add margin for spacing */
}